@keyframes buzzing {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fly-away {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
@keyframes apparition-from-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes dropdown-apparition {
  0% {
    transform: scaleY(0.33);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes rotate-chevron {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}
.contact_button {
  width: 170px;
  height: 70px;
  margin-top: 26px;
  padding: 11px;
  background-color: #901C1C;
  color: #FFFFFF;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: all 300ms ease-out;
}
.contact_button:hover {
  cursor: pointer;
  background-color: #DB8876;
  color: #000000;
}

.modal-bg {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.3;
}

.modal {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 35px;
  border-radius: 5px;
  background-color: #DB8876;
  animation: apparition-from-top 500ms ease-out forwards;
}
@media all and (max-width: 900px) {
  .modal {
    width: 100%;
  }
}

.contact__header {
  justify-content: space-between;
  width: 100%;
}
.contact__header__title {
  margin: 0;
  font-size: 3.56em;
  font-weight: normal;
  text-align: left;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form .label {
  color: #000000;
  font-size: 2em;
}

.form-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}

.contact-form__input {
  width: calc(100% - 2 * 18px);
  height: 68px;
  border: none;
  border-radius: 5px;
  padding: 0 18px;
  font-size: 1.5em;
}

.contact-form__input--message-content {
  height: 200px;
  max-width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
}

.close-modal-btn-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  width: fit-content;
  height: fit-content;
}

.close-modal-btn {
  position: relative;
  margin-top: 15px;
  cursor: pointer;
}

.legend {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.fieldset {
  position: relative;
  width: 100%;
  padding: 0;
  border: none;
}

.select {
  position: relative;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  column-gap: 25px;
}

.dropdown-checkbox:checked ~ .select__label .option {
  display: flex;
}

.dropdown-checkbox {
  display: none;
}

.select__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 69px;
  font-size: 1em;
  font-weight: bold;
}

.selector-wrapper {
  position: relative;
  width: 170px;
}

.selector {
  position: absolute;
  display: none;
  flex-direction: column-reverse;
  top: 0;
  left: 0;
  margin: 0;
  width: 170px;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  animation: dropdown-apparition 500ms forwards;
  transform-origin: top center;
}

.option {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 40px);
  height: 69px;
  padding-left: 20px;
  padding-right: 20px;
  background: #901C1C;
  color: #FFFFFF;
  font-size: 1em;
  border: none;
}
.option .chevron-icon {
  display: none;
}
.option__txt {
  text-decoration: none;
  color: inherit;
}

.option:hover {
  cursor: pointer;
}

.option:not(.checked):after {
  content: " ";
  position: absolute;
  top: 0;
  left: 10px;
  width: 150px;
  height: 1px;
  background: #FAFAFA;
}

.option.checked {
  display: flex;
  order: 1;
}
.option.checked .chevron-icon {
  display: block;
  animation: rotate-chevron 500ms forwards;
}

.option.checked::after {
  width: 0;
  height: 0;
}

.dropdown-menu__button {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 69px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  background: #901C1C;
  color: #FFFFFF;
  align-items: center;
  text-align: left;
  font-size: 1em;
  border: none;
}
.dropdown-menu__button:hover {
  cursor: pointer;
}

.chevron-icon {
  z-index: 99;
}

/* photorapher header  */
.photographer-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  margin: 0 7%;
  padding: 0 3.5%;
  background-color: #FAFAFA;
  column-gap: 18px;
}
@media all and (max-width: 900px) {
  .photographer-profile {
    flex-direction: column;
    text-align: center;
    height: fit-content;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    row-gap: 18px;
  }
}

.image-wrapper {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  overflow: hidden;
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info-text {
  margin: 0;
}

.info-text--city {
  margin-bottom: 19px;
}

@media all and (max-width: 900px) {
  .photographer-info {
    order: 2;
  }
}

@media all and (max-width: 900px) {
  .button-wrapper {
    order: 3;
  }
}

.photographer-info__name > .info-text {
  font-size: 3.56em;
  color: #D3573C;
  margin: 0;
}

.photographer-info__city > .info-text {
  font-size: 1.3em;
  color: #901C1C;
}

.photographer-info__tagline {
  font-size: 1em;
  color: #525252;
}

.card {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 350px;
}
@media all and (max-width: 900px) {
  .card {
    width: 100%;
  }
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901C1C;
}
.card__header__title {
  margin: 10px 0;
  font-size: 1.3em;
  font-weight: 400;
}
.card .image-wrapper {
  width: 100%;
  height: 300px;
  border-radius: 0;
}
.card .image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .image-wrapper:hover {
  position: relative;
  cursor: pointer;
}
.card .image-wrapper:hover:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.2;
}
.card .image-wrapper:focus {
  position: relative;
  cursor: pointer;
}
.card .image-wrapper:focus:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.2;
}

.likes {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
  font-size: 1.3em;
  z-index: 40;
}

.like-logo {
  font-size: 1em;
  transition: all 500ms;
}
.like-logo:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.byebye-heart {
  animation: fly-away 1s ease-in;
  color: #000000;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.play-logo-wrapper {
  content: " ";
  z-index: 100;
  height: 100%;
  width: 100%;
  background: #FFFFFF;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.carousel-section {
  content: " ";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  z-index: 999;
}

.carousel__bg {
  content: " ";
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #FFFFFF;
}

.carousel__content {
  position: relative;
  display: flex;
  justify-content: center;
  height: 88vh;
  width: 80vw;
}

.slide {
  display: none;
  position: relative;
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 90vw;
  margin-top: 60px;
}

.slide .image-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 0;
}

.slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev, .next:hover {
  cursor: pointer;
}

.prev {
  left: 7%;
}

.next {
  right: 7%;
}

.arrow, .cross {
  color: #901C1C;
  font-size: 30px;
}

.close-btn {
  position: absolute;
  top: 13%;
  right: 7%;
  z-index: 10;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.loader {
  content: " ";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 16px solid #e6e6e6;
  border-right: 16px solid #D3573C;
  animation: spin 1.5s infinite;
}

.error__message {
  display: none;
  position: absolute;
  bottom: 0.4em;
  right: 0.5em;
  font-size: 0.8em;
  color: #e54858;
  line-height: 0.3;
  transition: 0.3s;
}

.error {
  position: relative;
}
.error .contact-form__input {
  background-color: #f8dadd;
  animation: buzzing 100ms 3;
  transition: 1s background-color;
}
.error .error__message {
  display: inline-block;
}

.valid .contact-form__input {
  background-color: #baf8db;
}
.valid .error__message {
  display: none;
}

body {
  position: relative;
  font-family: "DM Sans", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  margin-top: 8px;
  font-size: 18px;
}

.main {
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
}

/* picture section  */
.picture-section {
  margin: 0 7%;
  margin-top: 20px;
}

.contact-modal-section {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
}

.sub-info {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 376px;
  padding: 0 20px;
  background: #DB8876;
  color: #000000;
  font-size: 1.3em;
  border-radius: 5px 5px 0 0;
  z-index: 900;
}

.body-header {
  margin: 0 7%;
}
.body-header .logo {
  width: 200px;
  height: 50px;
}

.body__home .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 7%;
  height: 90px;
}
@media all and (max-width: 900px) {
  .body__home .header {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.body__home .header .page-title {
  color: #901C1C;
}
.body__home .header .logo {
  height: 50px;
  width: 200px;
}
.body__home .photographer_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;
  margin: 0 7%;
  margin-top: 100px;
}
@media all and (max-width: 900px) {
  .body__home .photographer_section {
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
  }
}
.body__home .photographer_section .card {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body__home .photographer_section .card img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
  overflow: hidden;
  transition: transform 500ms;
}
.body__home .photographer_section .card .city {
  margin: 0;
  color: #901C1C;
  font-size: 0.72em;
  margin-bottom: 3px;
}
.body__home .photographer_section .card .tagline {
  margin: 0;
  font-size: 0.56em;
  margin-bottom: 3px;
}
.body__home .photographer_section .card .price {
  margin: 0;
  font-size: 0.5em;
  color: #757575;
}
.body__home .photographer_section .card__header {
  color: #D3573C;
  font-size: 2em;
  margin: 0;
  margin-top: 20px;
}
.body__home .photographer_section .card__header:hover {
  cursor: pointer;
}
.body__home .photographer-card-wrapper {
  text-decoration: none;
  color: black;
}
.body__home .photographer-card-wrapper:focus {
  cursor: pointer;
}
.body__home .photographer-card-wrapper:focus img {
  transform: scale(1.2);
}
.body__home .photographer-card-wrapper:hover {
  cursor: pointer;
}
.body__home .photographer-card-wrapper:hover img {
  transform: scale(1.2);
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=photographer.css.map */
