.loader{
    content: " ";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 16px solid rgb(230, 230, 230);
    border-right: 16px solid $color-primary ;
    
    animation: spin 1.5s infinite;
}

