.select{
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    column-gap: 25px;
}

.dropdown-checkbox:checked ~ .select__label .option{
    display: flex;
}

.dropdown-checkbox{
    display: none;
}

.select__label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 69px;
    font-size: 1em;
    font-weight: bold;
}

.selector-wrapper{
    position: relative;
    width: 170px;
}

.selector{
    position: absolute;
    display: none;
    flex-direction: column-reverse;
    top: 0;
    left:0;
    margin: 0;
    width: 170px;
    padding: 0;
    border-radius: 5px; 
    overflow: hidden;
    z-index: 1;
    animation: dropdown-apparition 500ms forwards;
    transform-origin: top center;
}



.option{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 40px);
    height: 69px;
    padding-left: 20px;
    padding-right: 20px;
    background: $button-bg-color-primary;
    color: $button-txt-color-primary;
    font-size: 1em;
    border: none;
    .chevron-icon{
        display: none;
    }
}

.option:hover{
    cursor: pointer;
}

.option:not(.checked):after{
    content: " ";
    position: absolute;
    top:0;
    left: 10px;
    width:150px;
    height: 1px;
    background: $bg-color-secondary;
}

.option.checked{
    display: flex;
    order:1;  
    .chevron-icon{
        display: block;
        // transform: rotate(180deg);
        animation: rotate-chevron 500ms forwards;
    }
}


.option.checked::after{
    width: 0;
    height: 0;
}


.dropdown-menu{
    &__button{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    left: 0;
    width: 100%;
    height: 69px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background: $button-bg-color-primary;
    color: $button-txt-color-primary;
    align-items: center;
    text-align: left;
    font-size: 1em;
    border: none;
    &:hover{
        cursor: pointer;
    }
    }

}

.chevron-icon{
    z-index: 99;
  }

