
.sub-info{
    background: #DB8876;
    color: #000;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 376px;
    position: fixed;
    bottom: 0;
    right: 20px;
    border-radius: 5px 5px 0 0;
}



.card{
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    @include mobile{
        width: 100%;
    }

}


.card .image-wrapper{
    width: 100%;
    height: 300px;
    border-radius:0;

}

.card .image-wrapper:hover{
    cursor: pointer;
}

.card .image-wrapper img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    object-fit: cover;
}

.card__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: #901C1C;
    
}

.card__header__title{
    font-size: 24px;
    font-weight: 400;
    margin:10px 0;
    /* margin-top: 10px; */
}

.likes{
    // display: inline-flex;
    // width: 50px;
    font-size: 24px;
    z-index: 40;
}

.like-counter{
    margin-right: 10px;
}

// .like-logo-wrapper{
//     position: relative;
//     display: inline-block;
//     height: 24px;
//     width: 24px;

// }

.like-logo{
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    font-size: 19px;
    // display: none;
    transition: all 500ms;
    // transition-delay: 900ms;
    &:hover{
        cursor: pointer;
        font-size: 21px;
        // color: white;
    }
}

.byebye-heart{
    // display: none;
    animation: fly-away 1s ease-in ;
    color: #000;
}

@keyframes fly-away {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(-50px);
    }
    
}

video{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    object-fit: cover;
}

.play-logo-wrapper{
    content: " ";
    z-index: 100;
    height: 100%;
    width: 100%;
    background: white;

}