@import "./utils/breakpoints";

@import "./utils/animations";
@import "./components/buttons";
@import "./layout/contactForm";
@import "./components/selector";
@import "./base/photograpger_header";
@import "./components/picture_card";
@import "./layout/picture_container";
@import "./layout/slider";
@import "./components/loader";
@import "./components/error";



body{
    position: relative;
    font-family: 'DM Sans', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    margin-top: 8px;
}

#main{
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
}

.body-header{
    margin: 0 100px;
}

.logo{
    height: 50px;
}
  

  


  .no-scroll{
    overflow: hidden;
  }

  .hidden{
    visibility: hidden;
    position: absolute;
    top:0;
    left: 0;
  }

  .footer{
    z-index: 900;
  }

  