$button-bg-color-primary:#901C1C;
$button-txt-color-primary:#FFFFFF;
$button-bg-color-secondary:#DB8876;
$button-txt-color-secondary:#000000;


$color-primary:#D3573C;
$color-secondary:#901C1C;
$color-tertiary: #525252;

$bg-color-secondary:#FAFAFA;
$bg-color-primary: #FFFFFF;

$black: #000000;





