/* photoraph header  */
.photographer-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin: 0 7%;
    padding: 0 3.5%;
    background-color: $bg-color-secondary;
    column-gap: 18px;
    @include mobile{
        flex-direction: column;
        text-align: center;
        height: fit-content;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px ;
        row-gap: 18px;
    }
}

.image-wrapper{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    overflow: hidden;
}

.image-wrapper img{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    object-fit: cover;  
}

.info-text{
    margin:0;
}

.info-text--city{
    margin-bottom: 19px;
}

.photographer-info{
    @include mobile{
        order: 2;
    }
}

.button-wrapper{
    @include mobile{
        order: 3;
    }
}

.photographer-info__name > .info-text{
    font-size: 3.56em;
    color: $color-primary;
    margin: 0;
}

.photographer-info__city > .info-text{
    font-size: 1.3em;
    color: $color-secondary;
}

.photographer-info__tagline{
    font-size: 1em;
    color: $color-tertiary;
}

